@font-face {
	font-family: 'Another-Typewriter';
	font-display: swap;
	src:  url('fonts/Another-Typewriter.woff') format('woff');
}

.font-typewriter {
	font-family: Another-Typewriter, monospace;
}

@font-face {
	font-family: 'Emilys Candy';
	font-display: swap;
    src: url('fonts/Emilys-Candy.woff2') format('woff2');
}

* {
	box-sizing: border-box;
	--secondary: #cccccc;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
}


/* Alignment */

.text-right {
	text-align: right;
}


/* Colours */

.bg-secondary {
	background-color: var(--secondary);
}

/* Box model, sizing, etc. */

.container {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.size-4 {
	font-size: 2rem;
}

.gapx-2>*, .gap-2>*, .mr-2 {
	margin-right: 0.5rem;
}

.gapy-2>*, .gap-2>*, .mb-2 {
	margin-bottom: 0.5rem;
}

.px-4, .p-4 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.py-1, .p-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

button.border-0 {
	border: 3px solid transparent;
	outline: none;
}

.border-0:focus {
	border: 3px solid;
}

.rounded-pill {
	border-radius: 50rem;
}

.w-auto {
	width: fit-content;
}


/* Display property */

.d-flex {
	display: flex;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.row>* {
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}
