@font-face {
	font-family: 'Another-Typewriter';
	src:  url('fonts/Another-Typewriter.ttf.woff') format('woff');
}

.font-typewriter {
	font-family: Another-Typewriter, monospace;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
}


/* Alignment */

.text-right {
	text-align: right;
}


/* Colours */

.bg-secondary {
	background-color: #cccccc;
}

/* Box model, sizing, etc. */

.size-4 {
	font-size: 2rem;
}

.gap-2>* {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.px-4, .p-4 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.py-1, .p-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.rounded-pill {
	border-radius: 50rem;
}

.w-auto {
	width: fit-content;
}


/* Display property */

.d-flex {
	display: flex;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.flex-wrap {
	flex-wrap: wrap;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.row>* {
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}
